.px{
      font-size:4em
      
}
.px{
      font-family: monospace;
}
.px{
      color:rgb(180, 56, 81);
}
.px{
      text-align: center;
}
.px{
      text-shadow:5px 1px 2px silver;
      
}
.waku{
      opacity:.8;
}
.waku{
      line-height:1;
}
.px2{
      color:rgb(9, 10, 0);
}
.px3{
      color:rgb(252, 109, 137)
}

.waku2{
      opacity:.8;
}